footer.page-footer
  .page-footer-inner 2016 © Made in robusta
  .scroll-to-top
    i.icon-arrow-up
// END FOOTER
script(src='/scripts/lib/require.js')
script(src='/scripts/config.js')
script(src='/scripts/common.js')