// BEGIN SIDEBAR
.page-sidebar-wrapper
  // END SIDEBAR
  // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
  // DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
  .page-sidebar.navbar-collapse.collapse
    // BEGIN SIDEBAR MENU
    // DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
    // DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
    // DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
    // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
    // DOC: Set data-keep-expand="true" to keep the submenues expanded
    // DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
    ul.page-sidebar-menu.page-header-fixed.page-sidebar-menu-hover-submenu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      li.nav-item(class=(page === 'summary' ? 'active' : ''))
        a.nav-link(href='/dashboard/summary/')
          span.title Summary
      li.nav-item(class=(page === 'maintenance-requests' ? 'active' : ''))
        a.nav-link(href='/dashboard/maintenance-requests/')
          //i.icon-people
          span.title Maintenance Requests
      li.nav-item(class=(page === 'complaints' ? 'active' : ''))
        a.nav-link(href='/dashboard/complaints/')
          //i.icon-people
          span.title Complaints      
      li.nav-item(class=(page === 'profiles' ? 'active' : ''))
        a.nav-link(href='/dashboard/profiles/')
          //i.icon-people
          span.title Profiles
      li.nav-item(class=(page === 'interests' ? 'active' : ''))
        a.nav-link(href='/dashboard/interests/')
          //i.icon-people
          span.title Interests
      li.nav-item(class=(page === 'forms' ? 'active' : ''))
        a.nav-link(href='/dashboard/forms/')
          //i.icon-people
          span.title Forms
      li.nav-item(class=(page === 'global-switch'? 'active': ''))
        a.nav-link(href="/dashboard/global-switch")
          //i.icon-people
          span.title Global Switch
    // END SIDEBAR MENU
  // END SIDEBAR
// END SIDEBAR